<div class="page-header">
  <center>
    <p><a href="/photos/new" class="btn btn-lg btn-success"><i class = "fa fa-plus"> </i></a></p>
  </center>
</div>

<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><a href = "/users/<%= photo.user_id %>"><%= photo.user.username %>
      </a>
      <small><%= time_ago_in_words photo.created_at %> ago</small>
    </div>
    <div class="panel-body">
      <center><a href = "/photos/<%= photo.id %>"><img src = "<%= photo.image %>" width = "500"></a></center>
      <p><i class="fa fa-heart"></i> <%= photo.caption %></p>
      <% photo.comments.each do |comment| %>
      <p><a href = "/users/<%= comment.user_id %>"><%= comment.user.username %></a></p>
      <p><%= comment.body %></p>
      <% end %>
    </div>
    <div class = "form-group"><label for = "body" class = "sr-only">Body</label><input type="text" id = "body" name "body" placeholder = "Add a comment..." class="form-control" required></div></form>
  </div>
</div>
</div>
<% end %>
