<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"><a href = "/users/<%= @photo.user_id %>"><%= @photo.user.username %></a></div>
      <div class="panel-body">
        <center><a href = "/photos/<%= @photo.id %>"><img src = "<%= @photo.image %>" width = "500"></a></center>
        <p><%= @photo.caption %></p>
      </div>
    </div>
  </div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/photos" class="btn btn-primary">
    Back
  </a>
  <% if @photo.user_id == current_user.id %>
  <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>
  <% end %>
</div>
</div>
</div>
